{% extends "base.html" %}
{% load static %}

{% block title %} - {{ user.name }}{% endblock %}

{% block content %}

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Patient Profile</span>
                    <h1 class="text-capitalize mb-5 text-lg">{{ profile.user.name }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section doctor-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="doctor-img-block">
                    {% if profile.image %}
                    <img src="{{ profile.image.url }}" alt="{{ user.name }}" class="img-fluid w-100">

                    {% else %}
                    <img src="{% static 'images/placeholders/user-placeholder.png' %}" alt="{{ user.name }}"
                         class="img-fluid w-100">
                    {% endif %}


                    <div class="info-block mt-4">
                        <p class="mb-1">
                            <span class="h3">{{ profile.user.name }}</span>
                            {% if profile.gender %}<span class="h5">({{ profile.gender }})</span>{% endif %}
                        </p>

                        {% if profile.date_of_birth %}
                        <p class="h5">Age: {{ profile.calc_age }} years old</p>
                        {% endif %}

                        {% if profile.height and profile.weight %}
                        <p class="h5">BMI: {{ profile.calc_bmi }}</p>
                        {% endif %}
                        <div class="text-center">
                            {% if is_self %}
                            <a class="btn btn-main-2 btn-round-full my-3" href="{% url 'patient-edit-profile' %}">
                                <i class="far fa-edit"></i> Update Profile
                            </a>
                            {% endif %}
                        </div>

                        <p class="h4 text-center">Member Since {{ user.date_joined.date}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-6">
                <div class="doctor-details mt-4 mt-lg-0">
                    <h2 class="text-md">General Information</h2>
                    <div class="divider my-4"></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Email: <a href="mailto:{{user.email}}">{{ user.email }}</a></h4>

                            {% if profile.phone %}
                            <h4><strong>Mobile:</strong>
                                <a href="tel:{{profile.phone}}">
                                    {{ profile.phone }}
                                </a>
                            </h4>
                            {% endif %}

                            {% if profile.date_of_birth %}
                            <h4>Date of Birth: {{ profile.date_of_birth }}
                            </h4>
                            {% endif %}
                        </div>
                        <div class="col-lg-6">
                            {% if profile.blood_group %}
                            <h4>Blood Group: {{ profile.blood_group }}
                            </h4>
                            {% endif %}

                            {% if profile.height %}
                            <h4>Height: {{ profile.height }} m</h4>
                            {% endif %}

                            {% if profile.weight %}
                            <h4>Weight: {{ profile.weight }} KG</h4>
                            {% endif %}
                        </div>

                        {% if is_self and incomplete_profile %}
                        <a href="{% url 'patient-edit-profile' %}"
                           class="btn btn-main-2 btn-round-full mt-3 m-3">
                            Complete Your Profile
                        </a>
                        {% endif %}

                        {% if is_self and has_access %}
                        <a href="#"
                           class="btn btn-main btn-round-full m-3">
                            <i class="fas fa-notes-medical"></i>  Health Records
                        </a>
                        {% endif %}

                    </div>

                    <hr/>


                </div>
            </div>
        </div>

        <hr/>
        <hr/>
        <hr/>

    </div>
</section>

{% endblock %}
