{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} - Edit Ambulance{% endblock %}


{% block content %}


<section id="blogArchive"  style="background: #7E8CB8">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="blog-breadcrumbs-area">
                <div class="container">
                    <div class="blog-breadcrumbs-left">
                        <h2 class="text-center">Edit Ambulance</h2>

                    </div>
                    <div class="blog-breadcrumbs-right">
                        <ol class="breadcrumb">
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container"  style="background: #85C0EC">
        <div class="row mb-5">
            <div class="col-lg-12 col-md-12">
                <form method="post">

                    {% csrf_token %}

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Ambulance Vehicel Number</label>
                                {{ form.vehicleNumber|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label style="color: #004DFF">City</label>
                                {{ form.city|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Ambulance Category</label>
                                {{ form.category|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Ambulance  Image</label>
                                {{ form.ambulanceImage|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Driver Name</label>
                                {{ form.driverName|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Driver Contact</label>
                                {{ form.driverContact|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Driver Address</label>
                                {{ form.driverAddress|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Driver NID</label>
                                {{ form.driverNID|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Driver License</label>
                                {{ form.driverLicense|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Blood Group</label>
                                {{ form.driverBloodGroup|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Gender</label>
                                {{ form.driverGender|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Driver's Image</label>
                                {{ form.driverImage|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Inter Division Rent</label>
                                {{ form.rentInterDivision|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Intra Division Rent</label>
                                {{ form.rentIntraDivision|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Available  {{ form.available|add_class:"form-control" }}</label>
                               
                            </div>
                        </div>
                    </div>
                    
                    {{ form.non_field_errors }}


                    <div class="text-center">
                        <button class="btn btn-main btn-round-full" type="submit">
                             Update Ambulance Details</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
