{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} - Update Appointment{% endblock %}

{% block content %}

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <h1 class="text-capitalize mb-5 text-lg">Update Appointment</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="appoinment section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mt-3">
                    <div class="feature-icon mb-3">
                        <i class="icofont-support text-lg"></i>
                    </div>
                    <span class="h3">Call for an Emergency Service!</span>
                    <h2 class="text-color mt-3">+84 789 1256 </h2>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
                    <h2 class="mb-2 title-color">Update Appointment</h2>
                    <form method="post">

                        {% csrf_token %}

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Doctor</label>
                                    <h3>{{ appointment.doctor.user.name }}</h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Department</label>
                                    <h3>{{ appointment.doctor.specialization }}</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Appointment Date</label>
                                    {{ form.date|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Patient Name</label>
                                    <input type="text" class="form-control" placeholder="Full Name"
                                           value="{{ appointment.patient.user.name }}">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control" placeholder="Phone Number"
                                           value="{{ appointment.patient.phone }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group-2 mb-4">
                            <label>Notes</label>
                            {{ form.notes|add_class:"form-control" }}
                        </div>

                        <button class="btn btn-main btn-round-full">
                            Update Appointment <i class="icofont-simple-right ml-2"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}
