{% load static %}
<nav class="navbar navbar-expand-lg navigation" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <h1><img src="{% static 'images/logo1.png' %}" alt="" class="img-fluid" style="width: 212px ;height: 106px;">MediCare24x7</h1>
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
                aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icofont-navigation-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarmain">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Articles</a></li>
                {% if request.user.is_authenticated and request.user.is_doctor %}
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'doctor-all-appointments'%}">D Appointments</a>
                </li>
                {% elif request.user.is_authenticated and request.user.is_patient %}
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'patient-all-appointments'%}">Appointments</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'staff-all-ambulance' %}">All Ambulance</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Emergency <i
                            class="icofont-thin-down"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown02">
                        <li><a class="dropdown-item" href="#">
                            <i class="icofont-blood-drop"></i> Blood Donation</a></li>
                        <li><a class="dropdown-item" href="#">
                            <i class="fas fa-hand-holding-medical"></i> Ambulnace Booking</a></li>
                    </ul>
                </li>

                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">{{ request.user.name }} <i
                            class="icofont-thin-down"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        {% if request.user.is_doctor %}
                        <li><a class="dropdown-item" href="{% url 'doctor-profile' request.user.id %}">
                            <i class="far fa-user"></i> Profile</a>
                        </li>
                        {% else %}
                            {% if not request.user.is_staff%}
                            <li><a class="dropdown-item" href="{% url 'patient-profile' request.user.id %}">
                                <i class="fas fa-user"></i> Profile</a>
                            </li>
                            {% endif %}
                    
                        {% endif %}
                        <li><a class="dropdown-item" href="#">
                            <i class="fas fa-cog"></i> Settings</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout'%}">
                            <i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    </ul>
                </li>

                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Started <i
                            class="icofont-thin-down"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown05">
                        <li><a class="dropdown-item" href="{%url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i> Log In</a></li>
<!--                        <li><a class="dropdown-item" href="#">-->
                            <!--                            <i class="fas fa-user-md"></i> Doctor Sign Up</a></li>-->
                        <li><a class="dropdown-item" href="{%url 'signup' %}">
                            <i class="fas fa-user-injured"></i> Patient Sign Up</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>